/.vs
/TaskManagementWeb/obj
/TaskManagementApi/obj
/TaskManagementWeb/bin
/TaskManagementApi/bin
*.dll
*.cache
*.json
/TaskManagement.IntegrationTests/obj
/TaskManageMentApi.Tests/bin
/TaskManageMentApi.Tests/obj
