.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 56px;
    height: 40px;
    color: white;
    position: absolute;
    top: 8px;
    right: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/28px rgba(255, 255, 255, 0.1); /* 1.75rem -> 28px */
}

    .navbar-toggler:checked {
        background-color: rgba(255, 255, 255, 0.5);
    }

.top-row {
    height: 56px;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 18px;
}

.bi {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu {
    background-image: url(...);
}

.bi-plus-square-fill-nav-menu {
    background-image: url(...);
}

.bi-list-nested-nav-menu {
    background-image: url(...);
}

.nav-item {
    font-size: 14px;
    padding-bottom: 8px;
}

    .nav-item:first-of-type {
        padding-top: 16px;
    }

    .nav-item:last-of-type {
        padding-bottom: 16px;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 48px;
        display: flex;
        align-items: center;
        line-height: 48px;
        width: 100%;
    }

    .nav-item ::deep a.active {
        background-color: rgba(255,255,255,0.37);
        color: white;
    }

    .nav-item ::deep .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.nav-scrollable {
    display: none;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: block;
        height: calc(100vh - 56px);
        overflow-y: auto;
        position: sticky;
        top: 0;
    }
}