@using Microsoft.AspNetCore.Components.Authorization
@using TaskManagementWeb.Services
@inject AuthService AuthService
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthProvider
@inject IJSRuntime JS

<nav class="nav">
    <div class="nav-home" @onclick="GoHome" style="cursor:pointer;">TaskManager</div>

    <ul class="nav-list">
        @if (isAuthenticated)
        {

            <li>
                <button class="nav-btn nav-btn-light" @onclick="Logout">Logout</button>
            </li>
        }
        else
        {
            <li>
                <NavLink class="nav-btn nav-btn-light" href="login">Login</NavLink>
            </li>

            <li>
                <NavLink class="nav-btn nav-btn-outline" href="register">Register</NavLink>
            </li>
        }
    </ul>
</nav>

@code {
    private bool isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        AuthProvider.AuthenticationStateChanged += AuthStateChanged;
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
    }

    private async void AuthStateChanged(Task<AuthenticationState> task)
    {
        var authState = await task;
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
        StateHasChanged();
    }

    private async Task Logout()
    {
        await AuthService.Logout();
        Nav.NavigateTo("/", true);
    }

    private void GoHome()
    {
        Nav.NavigateTo("/");
    }
}